{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="form-card" style="width: 400px;">
        <h3 class="form-title">🔐 Login</h3>

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>

            <button class="btn-submit w-100">Login</button>
        </form>

        <p class="text-center mt-3">
            Don’t have an account?
            <a href="{% url 'register' %}">Register</a>
        </p>
    </div>

</div>
{% endblock %}